.páginas {
    background-color: orangered;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

/* Menu */ 

#menu {
    background-color: black;
    border-radius: 10px 10px 0px 10px;
    height: 60px;
    padding-top: 2px;
}

.meu-nome {
    margin-top: 0px;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
    text-align: center;
}

#menu-buttons {
    margin-top: -34px;
}

.linkedin-img {
}

.pages {
    float: right;
}

.buttons {
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    font-size: 15px;
    border-color: black;
    background-color: black;
    color: orange;
}

/*  */

/* Minha foto */

.minha-foto {
    margin: 30px 0px 0px 25%;
    width: 50%;
    border-radius: 30px;
}

/*  */